@page
@model FirstWebApp.Pages.SuppliersModel
@{
}

<p>Idag är det @Model.Weekday   </p>

<h1>Alla suppliers</h1>

<table class="table">
    <tr>
        <td>Name</td>
        <td>City</td>
        <td></td>
    </tr>
    @foreach (var supplier in Model.Suppliers)
    {
        <tr>
            <td>@supplier.Name</td>
            <td>@supplier.City</td>
            <td>
                <a asp-page="/Supplier"  asp-route-supplierId="@supplier.Id">EDIT</a>
            </td>
        </tr>
    }
</table>