@page
@model FirstWebApp.Pages.SuppliersModel
@{
}



<section class="products" id="products">
    <h1>Suppliers</h1>
    <div class="productgallery">

    @foreach (var supplier in Model.Suppliers)
    {
        <div class="productcard">
            <img src="https://picsum.photos/300/300?@supplier.Id">
            <div class="information">
                <div class="name">@supplier.Name</div>
                <div class="description">@supplier.City</div>
                <a class="ctabutton" asp-page="/Supplier" asp-route-supplierId="@supplier.Id">View</a>
            </div>
        </div>
        
    }
    </div>
</section>